<nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/"><i class="fa-solid fa-graduation-cap"></i> XYZ School</a>

        <div class="collapse navbar-collapse" id="navMenu">
            <h5 class="m-0 position-absolute start-50 translate-middle-x text-muted"><i
                    class="fa-solid fa-user-tie"></i> Welcome!!&nbsp; <%=admin%>
            </h5>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ">
                    <a class="nav-link text-muted" href="/data/new">&nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i>
                        Add Student &nbsp;</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link  text-primary" href="#" id="acctDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="acctDropdown">
                    <li>
                        <a class="dropdown-item text-danger" href="/logout" onclick="return confirm('Are You Sure? You Want to Logout From <%=admin%>?');">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" href="/del" onclick="return confirm('Delete <%=admin%> account? This cannot be undone.');">
                            <i class="fa-solid fa-trash me-2"></i> Delete account
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>