      <nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">XYZ School</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navMenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/data/new"><i class="fa-solid fa-user-plus"></i> New Student</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>